/**
    HTML tags
*/

body {
    color: #505050;
    font-size: small;
	margin: 0 auto;
}

body a {
    color: #999898;
    text-decoration: none;
}

body a:hover {
    color: #0099FF;
}

h1, h2, h3, h4 {
	margin: 10 0 3 0;
    font-size: 1.6em;
}

table {
    font-size: small;
}

img {
	border: 0;
}

p {
    margin: 0;
    padding: 0;
}


/**
    Classified HTML tags
*/

body a.ajax{
    color: #0099FF;
}


a.tutorial {
    margin: 5px 5px 0 0;
}


div.wrapper {
    margin-top: 10px;
}

div.search_field {
    padding: 20px 0;
}

div.post table{
    border-collapse: collapse;
}

div.post th{
    padding-bottom: 5px;
    cursor: default;
}

div.post .high_line{
    cursor: default;
}

div.post .high_line:hover {
    background: #87CEFA;
}

div.highlightable:hover {
    background: #87CEFA;
    cursor: default;
}

div.post tr.highlighted{
    background: #2E2E2E;
}

div.sidebar-box table{
    padding-left: 10px;
    padding-right: 10px;
}

div.date_selector{
    width: 300px;
}

span.horizontalDivider {
    padding: 5px;
}

ul.header {
    list-style-type: none;
    padding: 0;
    width: 100%;
}

ul.header li {
    float: left;
	width: 130px;
	height: 30px;
    margin-right: 8px;
	font: normal 16px/30px Verdana;
	text-align: center;
    border: 3px double #87CEFA;
}

ul.header li a {
    background-color: #87CEFA;
    display: block;
    color: #2f4f4f;
}

ul.header li a:hover {
    background-color: #0099FF;
}


table td.line{
    background: url("/images/sidemenu_stripline.gif") repeat-x left bottom; /* Trennlinie in der Sidebar */
    /* background: url("/images/sidebar_menu.gif") repeat-x left bottom; */ /* Trennlinie in der Sidebar */
}

table.w100 {
    width: 100%;
}

table.calendar_table{
    padding-left: 15px;
    padding-bottom: 10px;
    table-layout: fixed;
    font-size: small;
}

table.calendar_table td, table.calendar_table th{
    overflow: hidden;
    border-style: dashed;
    border-width: 1px;
    padding: 2px;
}

table.calendar_table td.active{
    background: #87CEFA;
}

table.calendar_table td.other_month{
    background: #F4F4F4;
}

table.add td {
    line-height: 30px;
}

td.label {
    width: 120px;
}


label.radio{
    border: 1px solid black;
    padding: 3px 5px;
    margin-right: 7px;
    background: #585858;
    color: black;
    cursor: pointer;
}

label.radio:hover {
    background:#999999;
}

label.focussed {
    background: #084B8A;
    background: #58ACFA;
}


input.input_error {
   border: 2px inset red;
}

input.input_success {
   border: 2px inset green;
}

/**
    Classes
*/
.clear {
	clear: both;
	height: 0;
	overflow: hidden;
}

.priority_2{
    color: black;
}

.priority_3{
    color: #0099FF;
}

.headerSortDown{
    background: url(/images/desc.gif) no-repeat bottom;
}

.headerSortUp{
    background: url(/images/asc.gif) no-repeat bottom;
}

.error {
    color: #FF8000;
    background-color: #3B240B;
    border: 1px solid #FF8000;
    margin: 2px 8px;
    padding: 0 5px;
}

.highlighted {
    background-color: #2E2E2E;
    cursor: default;
}

.birthday {
    cursor: default;
}

.left {
    text-align: left;
}
.right {
    text-align: right;
}
.center {
    text-align: center;
}
.coloured {
    color: #0099FF;
}


/**
    Unique Identifier
*/

#left_side {
    float: left;
    width: 753px;
}

#left_side .post {
    float: left;
    margin-bottom: 1px;
    width: 747px;
    margin: 10px;
}

#left_side .post h2{
    padding: 5px 0;
}

#left_side .post .post-entry {
    margin-top:10px;
    width: 720px;
}

#left_side .post .post-info {
    clear: both;
    text-align: right;
    width: 720px;
}

#left_side .post h3 {
    margin: 20px 0 5px 0;
}

#sidebar {
    padding-left: 11px;
    float: left;
    width: 220px;
}

#sidebar .sidebar-box {
    width: 220px;
    margin-top: 10px;
    border: 1px solid #0099FF;
}

#sidebar .sidebar-box-bottom {
    width: 220px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: right;
}

#sidebar .sidebar-box-bottom a {
    margin-right:10px;
    color: #0099FF;
}

#sidebar h3 {
    padding: 5px;
    text-align: center;
}

#footer {
	margin: 0 auto 8px auto;
	width: 984px;
	height: 30px;
	padding: 7px;
	text-align: center;
}

#footer a {
	color: #cfcdcd; /*Links im Footer */
	text-decoration: none;
}

#footer a:hover {
	text-decoration: underline;
}

#loading {
    height:400px;
    background-image: url(/images/ajax-loader-blue.gif);
    background-position:center;
    background-repeat: no-repeat;
}

#tooltip {
	position: absolute;
	z-index: 3000;
	border: 1px solid #111;
	background-color: #eee;
	padding: 5px;
	opacity: 0.95;
}

#tooltip h3, #tooltip div {
    margin: 0;
}

#search {
    font-size: medium;
    font-weight: bold;
    width: 80%;
    margin-left:10px;
}

pre, .literal-block {
    font-size: 1.1em;
    background:#E0FFB8;
    border:1px solid #94da3a;
    border-width:1px 0;
    margin: 1em 0;
    padding: .3em .4em;
    overflow: auto;
    color: black;
}
